/* cores: 
- #1f2f3a (azul escuro)
- #f8a523 (amarelo)
- #2A0048
*/

body {
  background-image: url(./imagens/fundo.jpg);
  background-size: cover;
}

.form-control {
  align-self: center;
  background-color: #27272a;
  border: 1px solid #52525b;
  border-radius: 0.25rem;
  color: #757575;
  font-size: 1rem;
  font-weight: 400;
  height: 1rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0.75rem;
  transition: border-color 0.15s ease-in-out , box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #0080C5;
  outline: 0;
}